<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<style>

</style>
</head>
<body>
	<script src="static/js/common/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="static/js/mainPage/main.js" type="text/javascript"></script>
	<script>
/* 	var info =doAjax("getError", "get", false, {});
	console.log(info); */
	</script>
</body>
</html>


